<!DOCTYPE html>
<html lang="en" ng-app="forum">
<script>
    //1. Afficher tout les users
    //2. Afficher tout les titles
    //3. Afficher tout les comments et leurs auteurs
    //4. Faire joli avec le CSS
</script>
<head>
    <meta charset="UTF-8">
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="fora.css"/>
    <title>Forum</title>

    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>
    <script type="text/javascript" src="../javascripts/mock-data.js"></script>
    <script type="text/javascript" src="forum.js"></script>
    <script type="text/javascript" src="components/comment.component.js"></script>
    <script type="text/javascript" src="components/topic.component.js"></script>

    <style>
        .like {
            color: green;
        }

        .dislike {
            color: red;
        }

    </style>

</head>
<body>
<div ng-controller="ForumController" class="all">

    <h2> Forum NZozol </h2>
    <div class="users">
        <h3> Users : </h3>
        <ul>
            <li ng-repeat="user in users">{{user.id}} : {{user.name}} ({{user.email}})</li>
        </ul>
    </div>

    <div class="topics">
        <h3> Topics : </h3>
        <div class="topic">
            <select ng-model="model.selectedTopic" ng-options="topic.title for topic in topics">

            </select>
            <show-topic topic="model.selectedTopic" users="users"></show-topic>

        </div>
    </div>


</div>
</body>

</html>